<form (ngSubmit)="onSubmit()" #movieForm="ngForm">
    <div class="form-group">
        <input type="text" [(ngModel)]="model.title" 
        class="form-control form-control-sm" id="title" required name="title" #title="ngModel" placeholder="Title">
        <div [hidden]="title.invalid || title.pristine" class="alert alert-danger">
            Titulo es requerido
        </div>
    </div>
    <div class="form-group">
        <input type="number" [(ngModel)]="model.year" 
        class="form-control form-control-sm" id="year" required name="year" placeholder="Year">
    </div>
    <div class="form-group row">
        <label for="genre" class="col-md-4 ">Runtime</label>
        <div class=" col-md-8">
            <input type="time" [(ngModel)]="model.runtime" 
            class="form-control form-control-sm" id="runtime" required name="runtime">
        </div>
    </div>
    <div class="form-group row">
        <label for="genre" class="col-md-4">Categoria</label>
        <div class="col-md-8">
            <select [(ngModel)]="model.genre" class="form-control form-control-sm" id="genre" required name="genre">
            <option *ngFor="let g of genres" [value]="g">{{g}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <input type="text" [(ngModel)]="model.plot" class="form-control form-control-sm" id="plot" required name="plot" placeholder="Plot">
    </div>
    <div class="form-group">
        <input type="text" [(ngModel)]="model.released" class="form-control form-control-sm" id="released" required name="released" placeholder="Released">
    </div>
    <div class="form-group">
        <input type="text" [(ngModel)]="model.poster" class="form-control form-control-sm" id="poster" required name="poster" placeholder="Poster">
    </div>
    <button type="button" class="btn btn-success" (click)="newMovie(); movieForm.reset()">Reset</button>
    <button type="submit" class="btn btn-primary" [disabled]="!movieForm.form.valid">Submit</button>
</form>

