<div class="card mb-3">
    <div class="card-header">
        <button (click)="deleteMovieComponent()" type="button" class="m-0 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <img src={{currentMovie?.poster}} class="card-img-top" style="height: 170px;" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{currentMovie?.title}} 
          <a [routerLink]= "['/movie-trailer/', currentMovie?.id]">
            <img width="25px" src="assets/new_window.png" />
          </a>
        </h5>         
        <span *ngIf="isFavorite" class="badge badge-warning">Favorito</span>

        <div *ngIf="!seeMoreSelected; else seeMoreNotSelected" class="card-text">
          <small>{{currentMovie?.plot | slice:0:50 }} ....</small>
        </div>
        <ng-template #seeMoreNotSelected class="card-text">
          <small>{{currentMovie?.plot }}</small>
        </ng-template>


        <p class="card-text"><small class="text-muted">{{currentMovie?.released}}</small></p>
        <button (click)="seeMore()" class="btn btn-success mr-2"><small>{{textButtonSeeMore}}</small></button>
        <button *ngIf="!isFavorite" (click)="addFavorite()" class="btn btn-warning"><small>Favorito</small></button>
    </div>
  </div>
