    <div class="form-inline">
        <div class="form-group">
          <input [(ngModel)]="movieToFind" type="text" class="form-control mr-3" id="inputBuscar" placeholder="Buscar" />
        </div>
        <button (click)="findMovie()" class="btn btn-primary mb-2 mr-2">Buscar</button>
        <button (click)="resetListMovie()" class="btn btn-primary mb-2 mr-2">Reset</button>
        <button (click)="showAddMovieForm()" class="btn btn-primary mb-2">{{ showNewMovie?"Cerrar":"Agregar película"}}</button>
      </div>
    
    <div class="row">
      <div class="row col-md-9">
        <app-movie (deleteMovieEventFromParent)="deleteMovie($event)" [currentMovie]="item" *ngFor="let item of movieListObject" class="col-md-4"></app-movie>
      </div>
      <!-- <app-movie-form (addMovieEventFromParent)="addMovie($event)" [hidden]="!showNewMovie" class="col-md-3"></app-movie-form> -->
      <app-movie-reactive-form (addMovieEventFromParent)="addMovie($event)" [hidden]="!showNewMovie" class="col-md-3"></app-movie-reactive-form>
    </div>