<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div>
                <a style="margin-bottom: -30px;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">{{infoSiteObject?.title}}</a>
                <br><small>{{infoSiteObject.description}} - @{{infoSiteObject.year}}</small>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark"  routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" routerLink="/movies-list">Movie</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>