<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input type="text" formControlName="title" 
        class="form-control form-control-sm" id="title" name="title" placeholder="Title">
    </div>
    <div class="form-group">
        <input type="number" formControlName="year" 
        class="form-control form-control-sm" id="year" name="year" placeholder="Year">
    </div>
    <div class="form-group row">
        <label for="genre" class="col-md-4 ">Runtime</label>
        <div class=" col-md-8">
            <input type="time" formControlName="runtime" 
            class="form-control form-control-sm" id="runtime" name="runtime">
        </div>
    </div>
    <div class="form-group row">
        <label for="genre" class="col-md-4">Categoria</label>
        <div class="col-md-8">
            <select formControlName="genre" class="form-control form-control-sm" id="genre" name="genre">
            <option *ngFor="let g of genres" [value]="g">{{g}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <input type="text" formControlName="plot" class="form-control form-control-sm" id="plot" name="plot" placeholder="Plot">
    </div>
    <div class="form-group">
        <input type="text" formControlName="released" class="form-control form-control-sm" id="released" name="released" placeholder="Released">
    </div>
    <div class="form-group">
        <input type="text" formControlName="poster" class="form-control form-control-sm" id="poster" name="poster" placeholder="Poster">
    </div>
    <button type="button" class="btn btn-success" (click)="movieForm.reset()">Reset</button>
    <button type="submit" class="btn btn-primary" [disabled]="!movieForm.valid">Submit</button>
</form>

{{movieForm.value | json}}
